* {
  padding: 0;
  margin: 0;
}

:root {
    --color1: #f9e6cf;
    --color2: #5ac54f;
    --color3: #33984b;
    --color4: #134c4c;
    --color5: #0c2e44;
}

body {
  background-color: var(--color5);
}
